.commentsBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    padding-bottom: 1px;
}

.commentsBox table, .commentsBox td {
    border: 1px solid black;
    border-collapse: collapse;
}

.commentBody {
    white-space: pre-line;
    text-align: left;
    padding: 8px;
    font-size: 14px;
    line-height: 1.35;
}
